@model ReleaseNotesAdministration.ViewModels.ReleaseNoteAdminViewModel

@{
    ViewData["Title"] = "Create release note";
}

<!--
<script>
    //Client validation
    $(document).ready(function () {
        $(".submitButton").click(function (evt) {
            var TitleValidation = document.getElementById('Title').value;
            var BodyTextValidation =  document.getElementById('BodyText').value;
            var ProductValidation =  document.getElementById('ProductId').value;
            var AuthorValidation = document.getElementById('CreatedBy').value;

            if (TitleValidation.length == 0) {
                evt.preventDefault();
                document.getElementById('TitleVaidation').innerHTML = "Title is required to create a new release note! (This is js validation)";

                $('Title').on('change', function () {
                    var ok = "";
                    $('TitleValidation').html(ok);
                });
            }
        });
    });
</script>
    -->

  <h2>Create release note</h2>
  <div>
      <a asp-controller="ReleaseNotesAdmin" asp-action="ListAllReleaseNotes"><i class="fa fa-arrow-left"></i> Back to release notes</a>
  </div>
<hr/>
    <a class="btn btn-outline-secondary mb-3" asp-controller="WorkItem" asp-action="ListAllWorkItems"><i class="fa fa-list-ul"></i> Pick related work items</a>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="CreateReleaseNote" onsubmit="return validation()">
                <div class="form-group">
                    <label class="control-label">Title</label>
                    <input asp-for="Title" class="form-control" />
                    <span id="TitleValidation"></span>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Body text</label>
                    <textarea class="form-control" asp-for="BodyText" runat="server"></textarea>
                    <script>
                        //Congif to remove paragraph tags
                        CKEDITOR.config.autoParagraph = false;
                        // Replace the <textarea id="ckeditor"> with a CKEditor
                        CKEDITOR.replace('BodyText');

                        config.coreStyles_bold = { element: 'b', overrides: 'strong' };
                    </script>
                    <span asp-validation-for="BodyText" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Product</label>
                    <br />
                    <select asp-for="ProductId"
                            asp-items="@(new SelectList(ViewBag.products,"ProductId","ProductName"))" class="form-control">
                        <option value="" disabled selected>Select a product</option>
                    </select>
                    <span asp-validation-for="ProductId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Author</label>
                    <input asp-for="CreatedBy" class="form-control" />
                    <span asp-validation-for="CreatedBy" class="text-danger"></span>
                </div>
                <div class="d-flex justify-content-between">
                    <input type="submit" value="Create release note" class="btn btn-outline-success float-left" id="submitButton"/>
                    <a class="btn btn-outline-danger float-right" asp-controller="ReleaseNotesAdmin" asp-action="ListAllReleaseNotes"><i class="fa fa-times"></i> Cancel</a>
                </div>
            </form>
        </div>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
