@{
    ViewData["Title"] = "Home Page";
}

    <head>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    </head>

<style>
    .listReleaseNotes {
        list-style-type: none;
        font-size: 22px;
    }

    .releaseNotesQuestion{
        margin-bottom: 50px;
    }
    
    .searchButton {
        margin-bottom: 60px;
        margin-top: 5px;
    }

    .editButton, .deleteButton, .searchButton {
        background-color: white;
        color: black;
        border: 1px solid;
        border-color: rgb(42,128,192);
    }

    .deleteButton {
        margin-right: 5px;
        margin-left: 30px;
    }

    .hrTag {
        margin-top: 6px;
        margin-bottom: 3px;
    }

</style>

<div class="text-center">
    <h1 class="display-4">Talentech - Release Notes Administration</h1>
    <hr />
    <h3 class="releaseNotesQuestion">Which release note would you like to make changes to?</h3>
    <input class="col-6" placeholder="Search for a release note"/>
    <br/>
    <button type="button" class="searchButton btn btn-default">
        <i class="fa fa-search"></i> Search
    </button>

    <ul class="listReleaseNotes">
        <li>Release note 1.1 - Talent Onboarding <button class="deleteButton btn btn-default">Delete</button><button class="editButton btn btn-default">Edit</button></li>
        <hr class="hrTag"/>
        <br />
        <li>Release note 2.2 - Talent Manager <button class="deleteButton btn btn-default">Delete</button><button class="editButton btn btn-default">Edit</button></li>
        <hr class="hrTag" />
        <br />
        <li>Release note 3.3 - Talent Recruiter <button class="deleteButton btn btn-default">Delete</button><button class="editButton btn btn-default">Edit</button></li>
        <hr class="hrTag" />
    </ul>
</div>
