@model IEnumerable<ReleaseNotesAdministration.ViewModels.ReleaseNoteAdminViewModel>

@{
    ViewData["Title"] = "List Release Notes";
}

<div class="text-center">
    @foreach(var item in Model)
    {
        <h1>@item.Title</h1>
    }
    <ul>
        <li>
            <a asp-controller="ReleaseNotesAdmin" asp-action="Create">
            Create new
            </a>
        </li>
    </ul>
</div>
