
@{
    ViewData["Title"] = "List Work Items";
}

<style>
    .card-title {
        font-size: 20px;
        margin-bottom: 1px;
        cursor: pointer;
    }

    .card-body {
        text-align: left;
        padding: 15px;
        cursor: pointer;
    }

    .card:hover {
        border: 1px solid;
        border-color: rgb(42,128,192);
    }

    .hrTag {
        margin-top: 6px;
        margin-bottom: 3px;
    }
</style>

    <div class="text-center">
        <h1 class="display-4">Talentech - Release Notes Administration</h1>
        <hr class="hrTag" />
        <h3>Choose a work item you would like to write new release notes for.</h3>

        <div class="row mt-4 col-12 pr-0">

            <div class="col-12 col-sm-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <label class="card-title"><b>21678 - Creating view for listing work items</b></label>
                        <hr />
                        <p>
                            <b>Assigned to:</b> Fredrik Riise <br/>
                            <b>State:</b> Active <br/>
                            <b>Description:</b> Creating a new view which will list hard coded data/mock for work items. Styling included.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>