@model IEnumerable<ReleaseNotesAdministration.ViewModels.ReleaseNoteAdminViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>

<style>
    .listReleaseNotes {
        list-style-type: none;
        font-size: 22px;
    }

    .viewButton, .deleteButton, .addButton {
        background-color: white;
        color: black;
        border: 1px solid;
        border-color: rgb(42,128,192);
    }

    .viewButton {
        margin-right: 5px;
        margin-left: 30px;
    }

    a:hover {
        text-decoration: none;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Talentech - Release Notes Administration</h1>
    <hr />

    <!-- Temporary code for search function -->
    <div class="col-6">
        <label class="sr-only" for="inlineFormInputGroup">Search</label>
        <div class="input-group input-group mb-2">
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Search">
            <div class="input-group-append">
                <div class="input-group-text"><i class="fas fa-search"></i></div>
            </div>
        </div>
    </div>


    @foreach (var item in Model)
    {
        <ul class="listReleaseNotes">
            <li>
                <div class="float-left">
                    @item.Title
                </div>
                <div class="float-right">
                    <a asp-controller="ReleaseNotesAdmin" asp-action="ViewReleaseNote" asp-route-id="@item.Id">
                        <span class="viewButton btn btn-default">View</span>
                    </a>

                </div>
                <br />
                
            </li>
        </ul>
    }

    <a class="addButton btn btn-default" asp-controller="ReleaseNotesAdmin" asp-action="Create">
        Add release note
    </a>
</div>


