
@{
    ViewData["Title"] = "ListWorkItems";
}

<h1 class="display-4">Talentech - Release Notes Administration</h1>
<hr/>
<h3>Pick which work item you would like to write new release notes for.</h3>

<div class="row mt-4 col-12 pr-0">
    <div class="col-12 col-sm-4">
        <div class="card mb-3">
            <div class="card-body">
                <a>
                    <h4 class="card-title"><label>Work item 1</label></h4>
                    <hr />
                </a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-4">
        <div class="card mb-3">
            <div class="card-body">
                <a>
                    <h4 class="card-title"><label>Work item 2</label></h4>
                    <hr />
                </a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-4">
        <div class="card mb-3">
            <div class="card-body">
                <a>
                    <h4 class="card-title"><label>Work item 3</label></h4>
                    <hr />
                </a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-4">
        <div class="card mb-3">
            <div class="card-body">
                <a>
                    <h4 class="card-title"><label>Work item 4</label></h4>
                    <hr />
                </a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-4">
        <div class="card mb-3">
            <div class="card-body">
                <a>
                    <h4 class="card-title"><label>Work item 5</label></h4>
                    <hr />
                </a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-4">
        <div class="card mb-3">
            <div class="card-body">
                <a>
                    <h4 class="card-title"><label>Work item 6</label></h4>
                    <hr />
                </a>
            </div>
        </div>
    </div>
</div>
