@model ReleaseNotesAdministration.ViewModels.WorkItemViewModel

@{
    ViewData["Title"] = "Create work item";
}

<head>
    <script>
            //Client validation
            $(document).ready(function () {
                $(".submitButton").click(function (evt) {
                    var Id = document.getElementById('Id').value;
                    var Title = document.getElementById('Title').value;
                    var AssignedTo = document.getElementById('AssignedTo').value;

                    if (Id.length == 0) {
                        evt.preventDefault();
                        document.getElementById('IdValidation').innerHTML = "*Id is required to create a work item!";
                        document.getElementById('IdValidation').style.color = "red";

                        $("#Id").on('keyup', function () {
                            var ok = "";
                            $("#IdValidation").html(ok);
                        });
                    }

                    if (Title.length == 0) {
                        evt.preventDefault();
                        document.getElementById('TitleValidation').innerHTML = "*Title is required to create a work item!";
                        document.getElementById('TitleValidation').style.color = "red";

                        $("#Title").on('keyup', function () {
                            var ok = "";
                            $("#TitleValidation").html(ok);
                        });
                    }

                    if (AssignedTo.length == 0) {
                        evt.preventDefault();
                        document.getElementById('AssignedToValidation').innerHTML = "*Assigned to is required to create a work item!";
                        document.getElementById('AssignedToValidation').style.color = "red";

                        $("#AssignedTo").on('keyup', function () {
                            var ok = "";
                            $("#AssignedToValidation").html(ok);
                        });
                    }
                });
            });
    </script>
</head>

<div>
    <h2>Create work item</h2>
    <a asp-controller="WorkItemAdmin" asp-action="ListAllWorkItems"><span class="fas fa-arrow-left"></span> Back to work items</a>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <form asp-action="CreateWorkItem">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label for="Id" class="control-label">Id</label>
                    <input asp-for="Id" class="form-control" id="Id" />
                    <span id="IdValidation"></span>
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Title" class="control-label">Title</label>
                    <input asp-for="Title" class="form-control" id="Title" />
                    <span id="TitleValidation"></span>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="AssignedTo" class="control-label">Assigned to</label>
                    <input asp-for="AssignedTo" class="form-control" id="AssignedTo" />
                    <span id="AssignedToValidation"></span>
                    <span asp-validation-for="AssignedTo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">State</label>
                    <select asp-for="State" class="form-control" id="State">
                        <option value="New">New</option>
                        <option value="Active">Active</option>
                        <option value="Resolved">Resolved</option>
                        <option value="Closed">Closed</option>
                    </select>
                    <span id="StateValidation"></span>
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>

                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-outline-success float-left submitButton"><span class="fa fa-plus"></span> Create work item</button>
                    <a class="btn btn-outline-danger float-right" asp-controller="WorkItemAdmin" asp-action="ListAllWorkItems"><span class="fa fa-times"></span> Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>