@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
        <h1 class="display-4">Talentech - Release Notes</h1>
    <hr />
    <h3>Which product would you like to view release notes from?</h3>
    <!-- CARDS -->
    <div class="row mt-4 col-12">
        <!-- Recruiter -->
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <a asp-controller="" asp-action="">
                        <img src="~/pic-recruiter.png" />
                        <hr />
                        <h4 class="card-title">Talent Recruiter</h4>
                    </a>
                </div>
            </div>
        </div>

        <!-- Onboarding -->
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <a asp-controller="" asp-action="">
                        <img src="~/pic-onboarding.png" />
                        <hr />
                        <h4 class="card-title">Talent Onboarding</h4>
                    </a>
                </div>
            </div>
        </div>

        <!-- Manager -->
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <a asp-controller="" asp-action="">
                        <img src="~/pic-manager.png" />
                        <hr />
                        <h4 class="card-title">Talent Manager</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
