@{
    ViewData["Title"] = "Home Page";
}


<link rel="icon" href="~/favicon-16x16.png" type="image" sizes="16x16">

<div class="text-center">
    <h1 class="display-4">Welcome to our Releasenotes</h1>
    <hr />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
