@model IEnumerable<ReleaseNotes.ViewModels.ProductViewModel>

@{
    ViewData["Title"] = "Products";
}

<style>
    .card:hover {
        border: 1px solid;
        border-color: rgb(42,128,192);
    }


</style>

<div class="text-center">
    <label class="display-4">Talentech - Release Notes</label>
    <hr />
    <label style="font-size: 30px;"><strong>Which product would you like to view release notes from?</strong></label>
    <!-- Product cards -->
    <div class="row mt-4 col-12 pr-0">
        @{bool ProductFound = false; }

        @foreach (var item in Model)
        {
            <div class="col-12 col-sm-4">
                <div class="card mb-3">
                    <a asp-controller="ReleaseNotes" asp-action="ListReleaseNotesForProduct" asp-route-productId="@item.ProductId">
                        <div class="card-body">
                            <img src="@item.ProductImage" alt="@item.ProductName product icon" height="120" width="140"/>
                            <hr class="mt-3 mb-3"/>
                            <h4 class="card-title">@item.ProductName</h4>
                        </div>
                    </a>
                </div>
            </div>
            ProductFound = true;
        }

        @if (!ProductFound)
        {
            <label>There is currently no products published.</label>
        }
    </div>
</div>
