@model ReleaseNotesAdministration.ViewModels.UserViewModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/core.js"></script>
    <script>
        //Client validation
        $(document).ready(function () {
            $(".submitButton").click(function (evt) {
                var username = document.getElementById('username').value;
                var password = document.getElementById('password').value;

    
                if (username.length == 0) {
                    evt.preventDefault();
                    document.getElementById('usernameValidation').innerHTML = "*User name is required to log in!";
                    document.getElementById('usernameValidation').style.color = "red";
    
                    $("#username").on('keyup', function () {
                        var ok = "";
                        $("#usernameValidation").html(ok);
                    });
                }
    
                if (password.length == 0) {
                    evt.preventDefault();
                    document.getElementById('passwordValidation').innerHTML = "*Password is required to log in!";
                    document.getElementById('passwordValidation').style.color = "red";
    
                    $("#password").on('keyup', function () {
                        var ok = "";
                        $("#passwordValidation").html(ok);
                    });
                }
            });
        });
    </script>
</head>

<body>
    <h4>Log in</h4>
    <hr class="mt-0"/>
    <div class="row">
        <div class="col-md-6">
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="username" class="control-label">Username</label>
                    <input asp-for="username" class="form-control" id="username"/>
                    <span id="usernameValidation"></span>
                    <span asp-validation-for="username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="password" class="control-label">Password</label>
                    <input asp-for="password" class="form-control" id="password"/>
                    <span id="passwordValidation"></span>
                    <span asp-validation-for="password" class="text-danger"></span>
                </div>
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-outline-primary submitButton"><i class="fa fa-user"></i> Log in</button>
                    <a class="btn btn-outline-danger" asp-controller="ReleaseNotesAdmin" asp-action="ListAllReleaseNotes"><i class="fa fa-times"></i> Cancel</a>
                </div>
            </form>
        </div>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>

